In [1]:
airlines_sample_table = "atp_external_catalog.source_data.AIRLINE_SAMPLE"

# Confirm AIRLINE_SAMPLE table is reflected in spark
spark.sql("SHOW TABLES IN atp_external_catalog.source_data").show(truncate=False)

df = spark.table(airlines_sample_table)

df.show()

+-----------+-------------------------+-----------+
|namespace  |tableName                |isTemporary|
+-----------+-------------------------+-----------+
|source_data|airline_sample           |false      |
|source_data|dbtools_execution_history|false      |
+-----------+-------------------------+-----------+

+---------------+--------------+------+----+-------------+--------------+---------------+
|      flight_id|       airline|origin|dest|    dep_delay|     arr_delay|       distance|
+---------------+--------------+------+----+-------------+--------------+---------------+
|1001.0000000000|Skynet Airways|   JFK| LAX|10.0000000000|  5.0000000000|2475.0000000000|
|1002.0000000000| Sunwind Lines|   ORD| SFO|-3.0000000000| -5.0000000000|1846.0000000000|
|1003.0000000000|       BlueJet|   ATL| SEA| 0.0000000000| 15.0000000000|2182.0000000000|
|1004.0000000000|Quantum Flyers|   DFW| MIA| 5.0000000000| 20.0000000000|1121.0000000000|
|1005.0000000000|Nebula Express|   BOS| DEN|12.0000000000|  8.0000000000|1754.0000000000|
|1006.0000000000|Skynet Airways|   SEA| ORD|-5.0000000000| -2.0000000000|1721.0000000000|
|1007.0000000000| Sunwind Lines|   MIA| ATL| 7.0000000000|  4.0000000000| 595.0000000000|
|1008.0000000000|       BlueJet|   SFO| BOS|22.0000000000| 18.0000000000|2704.0000000000|
|1009.0000000000|Quantum Flyers|   LAX| JFK|-1.0000000000|  0.0000000000|2475.0000000000|
|1010.0000000000|Nebula Express|   DEN| DFW|14.0000000000| 20.0000000000| 641.0000000000|
|1011.0000000000|Skynet Airways|   PHX| SEA| 3.0000000000| -2.0000000000|1107.0000000000|
|1012.0000000000|       BlueJet|   ORD| ATL|-7.0000000000|-10.0000000000| 606.0000000000|
|1013.0000000000|Quantum Flyers|   BOS| JFK| 9.0000000000| 11.0000000000| 187.0000000000|
|1014.0000000000| Sunwind Lines|   LAX| DFW|13.0000000000| 15.0000000000|1235.0000000000|
|1015.0000000000|Nebula Express|   SFO| SEA| 0.0000000000|  3.0000000000| 679.0000000000|
|1016.0000000000|Skynet Airways|   ATL| DEN| 6.0000000000|  5.0000000000|1199.0000000000|
|1017.0000000000|       BlueJet|   DFW| PHX|-2.0000000000|  1.0000000000| 868.0000000000|
|1018.0000000000|Quantum Flyers|   ORD| BOS| 8.0000000000| -1.0000000000| 867.0000000000|
|1019.0000000000| Sunwind Lines|   JFK| MIA|10.0000000000| 16.0000000000|1090.0000000000|
|1020.0000000000|Nebula Express|   DEN| ORD|-4.0000000000|  0.0000000000| 888.0000000000|
+---------------+--------------+------+----+-------------+--------------+---------------+
only showing top 20 rows

In [1]:
delta_path = "oci://aidp-demo-bucket@idb6enfdcxbl/delta/airline_sample"
df.write.format("delta").mode("overwrite").save(delta_path)

In [1]:

bronze_table = "airlines_data_catalog.bronze.airline_sample_delta"

# Create New Internal Catalog & Schema to store data
spark.sql("CREATE CATALOG IF NOT EXISTS airlines_data_catalog")
spark.sql("CREATE SCHEMA IF NOT EXISTS airlines_data_catalog.bronze")

# Drop the table if it exists, to avoid conflicts
spark.sql(f"DROP TABLE IF EXISTS {bronze_table}")
#spark.sql(f"DROP TABLE IF EXISTS airlines_catalog.bronze.airline_sample_delta")

# Create new bronze table
spark.sql(f"""
  CREATE TABLE IF NOT EXISTS {bronze_table}
  USING DELTA
  LOCATION '{delta_path}'
""")

DataFrame[]

In [1]:
## Clean data 
spark.sql(f"""
    DELETE FROM {bronze_table}
    WHERE DISTANCE IS NULL OR DISTANCE < 0
""")

DataFrame[num_affected_rows: bigint]

In [1]:
## Show versioning capabilities of delta tables 
## This will show old version of table before cleaning 
df_v0 = spark.read.format("delta").option("versionAsOf", 0).load(delta_path)
df_v0.show()

+---------------+--------------+------+----+-------------+--------------+---------------+
|      flight_id|       airline|origin|dest|    dep_delay|     arr_delay|       distance|
+---------------+--------------+------+----+-------------+--------------+---------------+
|1001.0000000000|Skynet Airways|   JFK| LAX|10.0000000000|  5.0000000000|2475.0000000000|
|1002.0000000000| Sunwind Lines|   ORD| SFO|-3.0000000000| -5.0000000000|1846.0000000000|
|1003.0000000000|       BlueJet|   ATL| SEA| 0.0000000000| 15.0000000000|2182.0000000000|
|1004.0000000000|Quantum Flyers|   DFW| MIA| 5.0000000000| 20.0000000000|1121.0000000000|
|1005.0000000000|Nebula Express|   BOS| DEN|12.0000000000|  8.0000000000|1754.0000000000|
|1006.0000000000|Skynet Airways|   SEA| ORD|-5.0000000000| -2.0000000000|1721.0000000000|
|1007.0000000000| Sunwind Lines|   MIA| ATL| 7.0000000000|  4.0000000000| 595.0000000000|
|1008.0000000000|       BlueJet|   SFO| BOS|22.0000000000| 18.0000000000|2704.0000000000|
|1009.0000000000|Quantum Flyers|   LAX| JFK|-1.0000000000|  0.0000000000|2475.0000000000|
|1010.0000000000|Nebula Express|   DEN| DFW|14.0000000000| 20.0000000000| 641.0000000000|
|1011.0000000000|Skynet Airways|   PHX| SEA| 3.0000000000| -2.0000000000|1107.0000000000|
|1012.0000000000|       BlueJet|   ORD| ATL|-7.0000000000|-10.0000000000| 606.0000000000|
|1013.0000000000|Quantum Flyers|   BOS| JFK| 9.0000000000| 11.0000000000| 187.0000000000|
|1014.0000000000| Sunwind Lines|   LAX| DFW|13.0000000000| 15.0000000000|1235.0000000000|
|1015.0000000000|Nebula Express|   SFO| SEA| 0.0000000000|  3.0000000000| 679.0000000000|
|1016.0000000000|Skynet Airways|   ATL| DEN| 6.0000000000|  5.0000000000|1199.0000000000|
|1017.0000000000|       BlueJet|   DFW| PHX|-2.0000000000|  1.0000000000| 868.0000000000|
|1018.0000000000|Quantum Flyers|   ORD| BOS| 8.0000000000| -1.0000000000| 867.0000000000|
|1019.0000000000| Sunwind Lines|   JFK| MIA|10.0000000000| 16.0000000000|1090.0000000000|
|1020.0000000000|Nebula Express|   DEN| ORD|-4.0000000000|  0.0000000000| 888.0000000000|
+---------------+--------------+------+----+-------------+--------------+---------------+
only showing top 20 rows

In [1]:
## Write cleaned data to silver schema 
df_clean = spark.table(bronze_table)

silver_path = "oci://aidp-demo-bucket@idb6enfdcxbl/delta/silver/airline_sample"
silver_table = "airlines_data_catalog.silver.airline_sample_delta"

# Create Silver Schema to store data
spark.sql("CREATE SCHEMA IF NOT EXISTS airlines_data_catalog.silver")

# Write cleaned DataFrame to object storage as Delta
df_clean.write.format("delta").mode("overwrite").save(silver_path)

# Remove table registration if it already exists
spark.sql(f"DROP TABLE IF EXISTS {silver_table}")
#spark.sql(f"DROP TABLE IF EXISTS airlines_catalog.silver.airline_sample_delta")

# Register cleaned data as new Silver table
spark.sql(f"""
  CREATE TABLE {silver_table}
  USING DELTA
  LOCATION '{silver_path}'
""")

# Check table to make sure it's cleaned 
spark.sql(f"SELECT * FROM {silver_table}").show()

+---------------+--------------+------+----+-------------+--------------+---------------+
|      flight_id|       airline|origin|dest|    dep_delay|     arr_delay|       distance|
+---------------+--------------+------+----+-------------+--------------+---------------+
|1001.0000000000|Skynet Airways|   JFK| LAX|10.0000000000|  5.0000000000|2475.0000000000|
|1002.0000000000| Sunwind Lines|   ORD| SFO|-3.0000000000| -5.0000000000|1846.0000000000|
|1003.0000000000|       BlueJet|   ATL| SEA| 0.0000000000| 15.0000000000|2182.0000000000|
|1004.0000000000|Quantum Flyers|   DFW| MIA| 5.0000000000| 20.0000000000|1121.0000000000|
|1005.0000000000|Nebula Express|   BOS| DEN|12.0000000000|  8.0000000000|1754.0000000000|
|1006.0000000000|Skynet Airways|   SEA| ORD|-5.0000000000| -2.0000000000|1721.0000000000|
|1007.0000000000| Sunwind Lines|   MIA| ATL| 7.0000000000|  4.0000000000| 595.0000000000|
|1008.0000000000|       BlueJet|   SFO| BOS|22.0000000000| 18.0000000000|2704.0000000000|
|1009.0000000000|Quantum Flyers|   LAX| JFK|-1.0000000000|  0.0000000000|2475.0000000000|
|1010.0000000000|Nebula Express|   DEN| DFW|14.0000000000| 20.0000000000| 641.0000000000|
|1011.0000000000|Skynet Airways|   PHX| SEA| 3.0000000000| -2.0000000000|1107.0000000000|
|1012.0000000000|       BlueJet|   ORD| ATL|-7.0000000000|-10.0000000000| 606.0000000000|
|1013.0000000000|Quantum Flyers|   BOS| JFK| 9.0000000000| 11.0000000000| 187.0000000000|
|1014.0000000000| Sunwind Lines|   LAX| DFW|13.0000000000| 15.0000000000|1235.0000000000|
|1015.0000000000|Nebula Express|   SFO| SEA| 0.0000000000|  3.0000000000| 679.0000000000|
|1016.0000000000|Skynet Airways|   ATL| DEN| 6.0000000000|  5.0000000000|1199.0000000000|
|1017.0000000000|       BlueJet|   DFW| PHX|-2.0000000000|  1.0000000000| 868.0000000000|
|1018.0000000000|Quantum Flyers|   ORD| BOS| 8.0000000000| -1.0000000000| 867.0000000000|
|1019.0000000000| Sunwind Lines|   JFK| MIA|10.0000000000| 16.0000000000|1090.0000000000|
|1020.0000000000|Nebula Express|   DEN| ORD|-4.0000000000|  0.0000000000| 888.0000000000|
+---------------+--------------+------+----+-------------+--------------+---------------+
only showing top 20 rows

In [1]:
# Enrich data by adding aggregates/average delays and distance 
from pyspark.sql import functions as F

df = spark.table("airlines_data_catalog.silver.airline_sample_delta")

# Calculate averages by airline
avg_df = df.groupBy("AIRLINE").agg(
    F.avg("DEP_DELAY").alias("AVG_DEP_DELAY"),
    F.avg("ARR_DELAY").alias("AVG_ARR_DELAY"),
    F.avg("DISTANCE").alias("AVG_DISTANCE")
)

# Join with the detail table
enhanced_df = df.join(avg_df, on="AIRLINE", how="left")

enhanced_df.show()

+--------------+---------------+------+----+-------------+--------------+---------------+----------------+----------------+-------------------+
|       airline|      flight_id|origin|dest|    dep_delay|     arr_delay|       distance|   AVG_DEP_DELAY|   AVG_ARR_DELAY|       AVG_DISTANCE|
+--------------+---------------+------+----+-------------+--------------+---------------+----------------+----------------+-------------------+
|Skynet Airways|1001.0000000000|   JFK| LAX|10.0000000000|  5.0000000000|2475.0000000000|6.00000000000000|3.60000000000000|1736.80000000000000|
| Sunwind Lines|1002.0000000000|   ORD| SFO|-3.0000000000| -5.0000000000|1846.0000000000|4.20000000000000|4.40000000000000|1470.40000000000000|
|       BlueJet|1003.0000000000|   ATL| SEA| 0.0000000000| 15.0000000000|2182.0000000000|3.60000000000000|6.20000000000000|1740.40000000000000|
|Quantum Flyers|1004.0000000000|   DFW| MIA| 5.0000000000| 20.0000000000|1121.0000000000|4.60000000000000|5.60000000000000|1280.80000000000000|
|Nebula Express|1005.0000000000|   BOS| DEN|12.0000000000|  8.0000000000|1754.0000000000|6.60000000000000|8.80000000000000|1031.80000000000000|
|Skynet Airways|1006.0000000000|   SEA| ORD|-5.0000000000| -2.0000000000|1721.0000000000|6.00000000000000|3.60000000000000|1736.80000000000000|
| Sunwind Lines|1007.0000000000|   MIA| ATL| 7.0000000000|  4.0000000000| 595.0000000000|4.20000000000000|4.40000000000000|1470.40000000000000|
|       BlueJet|1008.0000000000|   SFO| BOS|22.0000000000| 18.0000000000|2704.0000000000|3.60000000000000|6.20000000000000|1740.40000000000000|
|Quantum Flyers|1009.0000000000|   LAX| JFK|-1.0000000000|  0.0000000000|2475.0000000000|4.60000000000000|5.60000000000000|1280.80000000000000|
|Nebula Express|1010.0000000000|   DEN| DFW|14.0000000000| 20.0000000000| 641.0000000000|6.60000000000000|8.80000000000000|1031.80000000000000|
|Skynet Airways|1011.0000000000|   PHX| SEA| 3.0000000000| -2.0000000000|1107.0000000000|6.00000000000000|3.60000000000000|1736.80000000000000|
|       BlueJet|1012.0000000000|   ORD| ATL|-7.0000000000|-10.0000000000| 606.0000000000|3.60000000000000|6.20000000000000|1740.40000000000000|
|Quantum Flyers|1013.0000000000|   BOS| JFK| 9.0000000000| 11.0000000000| 187.0000000000|4.60000000000000|5.60000000000000|1280.80000000000000|
| Sunwind Lines|1014.0000000000|   LAX| DFW|13.0000000000| 15.0000000000|1235.0000000000|4.20000000000000|4.40000000000000|1470.40000000000000|
|Nebula Express|1015.0000000000|   SFO| SEA| 0.0000000000|  3.0000000000| 679.0000000000|6.60000000000000|8.80000000000000|1031.80000000000000|
|Skynet Airways|1016.0000000000|   ATL| DEN| 6.0000000000|  5.0000000000|1199.0000000000|6.00000000000000|3.60000000000000|1736.80000000000000|
|       BlueJet|1017.0000000000|   DFW| PHX|-2.0000000000|  1.0000000000| 868.0000000000|3.60000000000000|6.20000000000000|1740.40000000000000|
|Quantum Flyers|1018.0000000000|   ORD| BOS| 8.0000000000| -1.0000000000| 867.0000000000|4.60000000000000|5.60000000000000|1280.80000000000000|
| Sunwind Lines|1019.0000000000|   JFK| MIA|10.0000000000| 16.0000000000|1090.0000000000|4.20000000000000|4.40000000000000|1470.40000000000000|
|Nebula Express|1020.0000000000|   DEN| ORD|-4.0000000000|  0.0000000000| 888.0000000000|6.60000000000000|8.80000000000000|1031.80000000000000|
+--------------+---------------+------+----+-------------+--------------+---------------+----------------+----------------+-------------------+
only showing top 20 rows

In [1]:
# Add New Review Column for Sentiment Analysis 
import random

sample_reviews = [
    "The flight was on time and comfortable.",
    "Long delay and unfriendly staff.",
    "Quick boarding and smooth flight.",
    "Lost my luggage, not happy.",
    "Great service and tasty snacks."
]

from pyspark.sql.functions import udf
from pyspark.sql.types import StringType

random_review_udf = udf(lambda: random.choice(sample_reviews), StringType())
df_with_review = enhanced_df.withColumn("REVIEW", random_review_udf())
df_with_review.show()

+--------------+---------------+------+----+-------------+--------------+---------------+----------------+----------------+-------------------+--------------------+
|       airline|      flight_id|origin|dest|    dep_delay|     arr_delay|       distance|   AVG_DEP_DELAY|   AVG_ARR_DELAY|       AVG_DISTANCE|              REVIEW|
+--------------+---------------+------+----+-------------+--------------+---------------+----------------+----------------+-------------------+--------------------+
|Skynet Airways|1001.0000000000|   JFK| LAX|10.0000000000|  5.0000000000|2475.0000000000|6.00000000000000|3.60000000000000|1736.80000000000000|Great service and...|
| Sunwind Lines|1002.0000000000|   ORD| SFO|-3.0000000000| -5.0000000000|1846.0000000000|4.20000000000000|4.40000000000000|1470.40000000000000|Long delay and un...|
|       BlueJet|1003.0000000000|   ATL| SEA| 0.0000000000| 15.0000000000|2182.0000000000|3.60000000000000|6.20000000000000|1740.40000000000000|The flight was on...|
|Quantum Flyers|1004.0000000000|   DFW| MIA| 5.0000000000| 20.0000000000|1121.0000000000|4.60000000000000|5.60000000000000|1280.80000000000000|Lost my luggage, ...|
|Nebula Express|1005.0000000000|   BOS| DEN|12.0000000000|  8.0000000000|1754.0000000000|6.60000000000000|8.80000000000000|1031.80000000000000|The flight was on...|
|Skynet Airways|1006.0000000000|   SEA| ORD|-5.0000000000| -2.0000000000|1721.0000000000|6.00000000000000|3.60000000000000|1736.80000000000000|Lost my luggage, ...|
| Sunwind Lines|1007.0000000000|   MIA| ATL| 7.0000000000|  4.0000000000| 595.0000000000|4.20000000000000|4.40000000000000|1470.40000000000000|Great service and...|
|       BlueJet|1008.0000000000|   SFO| BOS|22.0000000000| 18.0000000000|2704.0000000000|3.60000000000000|6.20000000000000|1740.40000000000000|Lost my luggage, ...|
|Quantum Flyers|1009.0000000000|   LAX| JFK|-1.0000000000|  0.0000000000|2475.0000000000|4.60000000000000|5.60000000000000|1280.80000000000000|The flight was on...|
|Nebula Express|1010.0000000000|   DEN| DFW|14.0000000000| 20.0000000000| 641.0000000000|6.60000000000000|8.80000000000000|1031.80000000000000|Lost my luggage, ...|
|Skynet Airways|1011.0000000000|   PHX| SEA| 3.0000000000| -2.0000000000|1107.0000000000|6.00000000000000|3.60000000000000|1736.80000000000000|Long delay and un...|
|       BlueJet|1012.0000000000|   ORD| ATL|-7.0000000000|-10.0000000000| 606.0000000000|3.60000000000000|6.20000000000000|1740.40000000000000|Lost my luggage, ...|
|Quantum Flyers|1013.0000000000|   BOS| JFK| 9.0000000000| 11.0000000000| 187.0000000000|4.60000000000000|5.60000000000000|1280.80000000000000|Long delay and un...|
| Sunwind Lines|1014.0000000000|   LAX| DFW|13.0000000000| 15.0000000000|1235.0000000000|4.20000000000000|4.40000000000000|1470.40000000000000|Lost my luggage, ...|
|Nebula Express|1015.0000000000|   SFO| SEA| 0.0000000000|  3.0000000000| 679.0000000000|6.60000000000000|8.80000000000000|1031.80000000000000|Great service and...|
|Skynet Airways|1016.0000000000|   ATL| DEN| 6.0000000000|  5.0000000000|1199.0000000000|6.00000000000000|3.60000000000000|1736.80000000000000|Great service and...|
|       BlueJet|1017.0000000000|   DFW| PHX|-2.0000000000|  1.0000000000| 868.0000000000|3.60000000000000|6.20000000000000|1740.40000000000000|Lost my luggage, ...|
|Quantum Flyers|1018.0000000000|   ORD| BOS| 8.0000000000| -1.0000000000| 867.0000000000|4.60000000000000|5.60000000000000|1280.80000000000000|Long delay and un...|
| Sunwind Lines|1019.0000000000|   JFK| MIA|10.0000000000| 16.0000000000|1090.0000000000|4.20000000000000|4.40000000000000|1470.40000000000000|The flight was on...|
|Nebula Express|1020.0000000000|   DEN| ORD|-4.0000000000|  0.0000000000| 888.0000000000|6.60000000000000|8.80000000000000|1031.80000000000000|Quick boarding an...|
+--------------+---------------+------+----+-------------+--------------+---------------+----------------+----------------+-------------------+--------------------+
only showing top 20 rows

In [1]:
# test model 
spark.sql("select query_model('cohere.command-latest','What is Intelligent Data Lake Service in Oracle?') as questions").show(truncate=False)

# Run Sentiment Analysis Against Review with LLM 
from pyspark.sql.functions import expr
enhanced_df = df_with_review.withColumn("SENTIMENT",\
                     expr("query_model('cohere.command-latest', concat('What is the sentiment for this review: ', review))"))\
#.show(10, False)

enhanced_df.show(10, False)

+-------------------------------------------------------------------------------------------------------------------+
|questions                                                                                                          |
+-------------------------------------------------------------------------------------------------------------------+
|The Intelligent Data Lake Service in Oracle is a cloud-based data management and analytics platform that provides a|
+-------------------------------------------------------------------------------------------------------------------+

+--------------+---------------+------+----+-------------+-------------+---------------+----------------+----------------+-------------------+---------------------------------------+--------------------------------------------------------------------------------------------------------------------------------+
|airline       |flight_id      |origin|dest|dep_delay    |arr_delay    |distance       |AVG_DEP_DELAY   |AVG_ARR_DELAY   |AVG_DISTANCE       |REVIEW                                 |SENTIMENT                                                                                                                       |
+--------------+---------------+------+----+-------------+-------------+---------------+----------------+----------------+-------------------+---------------------------------------+--------------------------------------------------------------------------------------------------------------------------------+
|Skynet Airways|1001.0000000000|JFK   |LAX |10.0000000000|5.0000000000 |2475.0000000000|6.00000000000000|3.60000000000000|1736.80000000000000|Lost my luggage, not happy.            |The sentiment of this review is negative. The customer is expressing dissatisfaction and unhappiness due to the loss            |
|Sunwind Lines |1002.0000000000|ORD   |SFO |-3.0000000000|-5.0000000000|1846.0000000000|4.20000000000000|4.40000000000000|1470.40000000000000|Long delay and unfriendly staff.       |The sentiment of this review is negative. The mention of a "long delay" suggests frustration and dissatisfaction                |
|BlueJet       |1003.0000000000|ATL   |SEA |0.0000000000 |15.0000000000|2182.0000000000|3.60000000000000|6.20000000000000|1740.40000000000000|Lost my luggage, not happy.            |The sentiment of this review is negative. The customer is expressing dissatisfaction and unhappiness due to the loss            |
|Quantum Flyers|1004.0000000000|DFW   |MIA |5.0000000000 |20.0000000000|1121.0000000000|4.60000000000000|5.60000000000000|1280.80000000000000|Quick boarding and smooth flight.      |The sentiment of this review is positive. The customer is expressing satisfaction with the efficiency of the boarding process   |
|Nebula Express|1005.0000000000|BOS   |DEN |12.0000000000|8.0000000000 |1754.0000000000|6.60000000000000|8.80000000000000|1031.80000000000000|Great service and tasty snacks.        |The sentiment of this review is positive. The customer is expressing satisfaction and appreciation for the service they received|
|Skynet Airways|1006.0000000000|SEA   |ORD |-5.0000000000|-2.0000000000|1721.0000000000|6.00000000000000|3.60000000000000|1736.80000000000000|Lost my luggage, not happy.            |The sentiment of this review is negative. The customer is expressing dissatisfaction and unhappiness due to the loss            |
|Sunwind Lines |1007.0000000000|MIA   |ATL |7.0000000000 |4.0000000000 |595.0000000000 |4.20000000000000|4.40000000000000|1470.40000000000000|Quick boarding and smooth flight.      |The sentiment of this review is positive. The reviewer expresses satisfaction with the efficiency of the boarding process and   |
|BlueJet       |1008.0000000000|SFO   |BOS |22.0000000000|18.0000000000|2704.0000000000|3.60000000000000|6.20000000000000|1740.40000000000000|Quick boarding and smooth flight.      |The sentiment of this review is positive. The customer is expressing satisfaction with the efficiency of the boarding process   |
|Quantum Flyers|1009.0000000000|LAX   |JFK |-1.0000000000|0.0000000000 |2475.0000000000|4.60000000000000|5.60000000000000|1280.80000000000000|The flight was on time and comfortable.|The sentiment for this review is positive. The customer is expressing satisfaction with their flight experience, mentioning that|
|Nebula Express|1010.0000000000|DEN   |DFW |14.0000000000|20.0000000000|641.0000000000 |6.60000000000000|8.80000000000000|1031.80000000000000|Long delay and unfriendly staff.       |The sentiment of this review is negative. The mention of a "long delay" suggests frustration and dissatisfaction                |
+--------------+---------------+------+----+-------------+-------------+---------------+----------------+----------------+-------------------+---------------------------------------+--------------------------------------------------------------------------------------------------------------------------------+
only showing top 10 rows

In [1]:
# Save Averaged Data to Gold Schema 

gold_path = "oci://aidp-demo-bucket@idb6enfdcxbl/delta/gold/airline_sample_avg"
gold_table = "airlines_data_catalog.gold.airline_sample_avg"

# Create Gold Schema 
spark.sql("CREATE SCHEMA IF NOT EXISTS airlines_data_catalog.gold")

enhanced_df.write.format("delta").option("mergeSchema", "true").mode("overwrite").save(gold_path)

spark.sql(f"DROP TABLE IF EXISTS {gold_table}")
spark.sql(f"DROP TABLE IF EXISTS airlines_catalog.gold.airline_sample_agg")

spark.sql(f"""
  CREATE TABLE {gold_table}
  USING DELTA
  LOCATION '{gold_path}'
""")

df_gold = spark.table(gold_table) 
df_gold.show()

+--------------+---------------+------+----+-------------+--------------+---------------+---------------------+---------------------+--------------------+--------------------+--------------------+----------------+----------------+-------------------+
|       airline|      flight_id|origin|dest|    dep_delay|     arr_delay|       distance|AVG_DEP_DELAY_AIRLINE|AVG_ARR_DELAY_AIRLINE|AVG_DISTANCE_AIRLINE|              review|           SENTIMENT|   AVG_DEP_DELAY|   AVG_ARR_DELAY|       AVG_DISTANCE|
+--------------+---------------+------+----+-------------+--------------+---------------+---------------------+---------------------+--------------------+--------------------+--------------------+----------------+----------------+-------------------+
|Skynet Airways|1001.0000000000|   JFK| LAX|10.0000000000|  5.0000000000|2475.0000000000|                 NULL|                 NULL|                NULL|Long delay and un...|The sentiment for...|6.00000000000000|3.60000000000000|1736.80000000000000|
| Sunwind Lines|1002.0000000000|   ORD| SFO|-3.0000000000| -5.0000000000|1846.0000000000|                 NULL|                 NULL|                NULL|The flight was on...|The sentiment for...|4.20000000000000|4.40000000000000|1470.40000000000000|
|       BlueJet|1003.0000000000|   ATL| SEA| 0.0000000000| 15.0000000000|2182.0000000000|                 NULL|                 NULL|                NULL|Lost my luggage, ...|The sentiment of ...|3.60000000000000|6.20000000000000|1740.40000000000000|
|Quantum Flyers|1004.0000000000|   DFW| MIA| 5.0000000000| 20.0000000000|1121.0000000000|                 NULL|                 NULL|                NULL|Lost my luggage, ...|The sentiment of ...|4.60000000000000|5.60000000000000|1280.80000000000000|
|Nebula Express|1005.0000000000|   BOS| DEN|12.0000000000|  8.0000000000|1754.0000000000|                 NULL|                 NULL|                NULL|Great service and...|The sentiment of ...|6.60000000000000|8.80000000000000|1031.80000000000000|
|Skynet Airways|1006.0000000000|   SEA| ORD|-5.0000000000| -2.0000000000|1721.0000000000|                 NULL|                 NULL|                NULL|The flight was on...|The sentiment for...|6.00000000000000|3.60000000000000|1736.80000000000000|
| Sunwind Lines|1007.0000000000|   MIA| ATL| 7.0000000000|  4.0000000000| 595.0000000000|                 NULL|                 NULL|                NULL|Great service and...|The sentiment of ...|4.20000000000000|4.40000000000000|1470.40000000000000|
|       BlueJet|1008.0000000000|   SFO| BOS|22.0000000000| 18.0000000000|2704.0000000000|                 NULL|                 NULL|                NULL|Long delay and un...|The sentiment of ...|3.60000000000000|6.20000000000000|1740.40000000000000|
|Quantum Flyers|1009.0000000000|   LAX| JFK|-1.0000000000|  0.0000000000|2475.0000000000|                 NULL|                 NULL|                NULL|The flight was on...|The sentiment for...|4.60000000000000|5.60000000000000|1280.80000000000000|
|Nebula Express|1010.0000000000|   DEN| DFW|14.0000000000| 20.0000000000| 641.0000000000|                 NULL|                 NULL|                NULL|Long delay and un...|The sentiment of ...|6.60000000000000|8.80000000000000|1031.80000000000000|
|Skynet Airways|1011.0000000000|   PHX| SEA| 3.0000000000| -2.0000000000|1107.0000000000|                 NULL|                 NULL|                NULL|The flight was on...|The sentiment for...|6.00000000000000|3.60000000000000|1736.80000000000000|
|       BlueJet|1012.0000000000|   ORD| ATL|-7.0000000000|-10.0000000000| 606.0000000000|                 NULL|                 NULL|                NULL|Great service and...|The sentiment of ...|3.60000000000000|6.20000000000000|1740.40000000000000|
|Quantum Flyers|1013.0000000000|   BOS| JFK| 9.0000000000| 11.0000000000| 187.0000000000|                 NULL|                 NULL|                NULL|Great service and...|The sentiment of ...|4.60000000000000|5.60000000000000|1280.80000000000000|
| Sunwind Lines|1014.0000000000|   LAX| DFW|13.0000000000| 15.0000000000|1235.0000000000|                 NULL|                 NULL|                NULL|Lost my luggage, ...|The sentiment of ...|4.20000000000000|4.40000000000000|1470.40000000000000|
|Nebula Express|1015.0000000000|   SFO| SEA| 0.0000000000|  3.0000000000| 679.0000000000|                 NULL|                 NULL|                NULL|The flight was on...|The sentiment for...|6.60000000000000|8.80000000000000|1031.80000000000000|
|Skynet Airways|1016.0000000000|   ATL| DEN| 6.0000000000|  5.0000000000|1199.0000000000|                 NULL|                 NULL|                NULL|Lost my luggage, ...|The sentiment of ...|6.00000000000000|3.60000000000000|1736.80000000000000|
|       BlueJet|1017.0000000000|   DFW| PHX|-2.0000000000|  1.0000000000| 868.0000000000|                 NULL|                 NULL|                NULL|Lost my luggage, ...|The sentiment of ...|3.60000000000000|6.20000000000000|1740.40000000000000|
|Quantum Flyers|1018.0000000000|   ORD| BOS| 8.0000000000| -1.0000000000| 867.0000000000|                 NULL|                 NULL|                NULL|Quick boarding an...|The sentiment of ...|4.60000000000000|5.60000000000000|1280.80000000000000|
| Sunwind Lines|1019.0000000000|   JFK| MIA|10.0000000000| 16.0000000000|1090.0000000000|                 NULL|                 NULL|                NULL|Long delay and un...|The sentiment of ...|4.20000000000000|4.40000000000000|1470.40000000000000|
|Nebula Express|1020.0000000000|   DEN| ORD|-4.0000000000|  0.0000000000| 888.0000000000|                 NULL|                 NULL|                NULL|Long delay and un...|The sentiment of ...|6.60000000000000|8.80000000000000|1031.80000000000000|
+--------------+---------------+------+----+-------------+--------------+---------------+---------------------+---------------------+--------------------+--------------------+--------------------+----------------+----------------+-------------------+
only showing top 20 rows

In [1]:
# Create new external connection to adb with gold schema
# Write gold dataframe to newly created table 
# If AIRLINE_SAMPLE_GOLD does not exist in gold schema, create table first in ADB

# Before pushing dataframe, make sure all columns are upper case to prevent visualization issues in OAC 
for col_name in df_gold.columns:
    df_gold = df_gold.withColumnRenamed(col_name, col_name.upper())

df_gold.show()

+--------------+---------------+------+----+-------------+--------------+---------------+---------------------+---------------------+--------------------+--------------------+--------------------+----------------+----------------+-------------------+
|       AIRLINE|      FLIGHT_ID|ORIGIN|DEST|    DEP_DELAY|     ARR_DELAY|       DISTANCE|AVG_DEP_DELAY_AIRLINE|AVG_ARR_DELAY_AIRLINE|AVG_DISTANCE_AIRLINE|              REVIEW|           SENTIMENT|   AVG_DEP_DELAY|   AVG_ARR_DELAY|       AVG_DISTANCE|
+--------------+---------------+------+----+-------------+--------------+---------------+---------------------+---------------------+--------------------+--------------------+--------------------+----------------+----------------+-------------------+
|Skynet Airways|1001.0000000000|   JFK| LAX|10.0000000000|  5.0000000000|2475.0000000000|                 NULL|                 NULL|                NULL|Long delay and un...|The sentiment for...|6.00000000000000|3.60000000000000|1736.80000000000000|
| Sunwind Lines|1002.0000000000|   ORD| SFO|-3.0000000000| -5.0000000000|1846.0000000000|                 NULL|                 NULL|                NULL|The flight was on...|The sentiment for...|4.20000000000000|4.40000000000000|1470.40000000000000|
|       BlueJet|1003.0000000000|   ATL| SEA| 0.0000000000| 15.0000000000|2182.0000000000|                 NULL|                 NULL|                NULL|Lost my luggage, ...|The sentiment of ...|3.60000000000000|6.20000000000000|1740.40000000000000|
|Quantum Flyers|1004.0000000000|   DFW| MIA| 5.0000000000| 20.0000000000|1121.0000000000|                 NULL|                 NULL|                NULL|Lost my luggage, ...|The sentiment of ...|4.60000000000000|5.60000000000000|1280.80000000000000|
|Nebula Express|1005.0000000000|   BOS| DEN|12.0000000000|  8.0000000000|1754.0000000000|                 NULL|                 NULL|                NULL|Great service and...|The sentiment of ...|6.60000000000000|8.80000000000000|1031.80000000000000|
|Skynet Airways|1006.0000000000|   SEA| ORD|-5.0000000000| -2.0000000000|1721.0000000000|                 NULL|                 NULL|                NULL|The flight was on...|The sentiment for...|6.00000000000000|3.60000000000000|1736.80000000000000|
| Sunwind Lines|1007.0000000000|   MIA| ATL| 7.0000000000|  4.0000000000| 595.0000000000|                 NULL|                 NULL|                NULL|Great service and...|The sentiment of ...|4.20000000000000|4.40000000000000|1470.40000000000000|
|       BlueJet|1008.0000000000|   SFO| BOS|22.0000000000| 18.0000000000|2704.0000000000|                 NULL|                 NULL|                NULL|Long delay and un...|The sentiment of ...|3.60000000000000|6.20000000000000|1740.40000000000000|
|Quantum Flyers|1009.0000000000|   LAX| JFK|-1.0000000000|  0.0000000000|2475.0000000000|                 NULL|                 NULL|                NULL|The flight was on...|The sentiment for...|4.60000000000000|5.60000000000000|1280.80000000000000|
|Nebula Express|1010.0000000000|   DEN| DFW|14.0000000000| 20.0000000000| 641.0000000000|                 NULL|                 NULL|                NULL|Long delay and un...|The sentiment of ...|6.60000000000000|8.80000000000000|1031.80000000000000|
|Skynet Airways|1011.0000000000|   PHX| SEA| 3.0000000000| -2.0000000000|1107.0000000000|                 NULL|                 NULL|                NULL|The flight was on...|The sentiment for...|6.00000000000000|3.60000000000000|1736.80000000000000|
|       BlueJet|1012.0000000000|   ORD| ATL|-7.0000000000|-10.0000000000| 606.0000000000|                 NULL|                 NULL|                NULL|Great service and...|The sentiment of ...|3.60000000000000|6.20000000000000|1740.40000000000000|
|Quantum Flyers|1013.0000000000|   BOS| JFK| 9.0000000000| 11.0000000000| 187.0000000000|                 NULL|                 NULL|                NULL|Great service and...|The sentiment of ...|4.60000000000000|5.60000000000000|1280.80000000000000|
| Sunwind Lines|1014.0000000000|   LAX| DFW|13.0000000000| 15.0000000000|1235.0000000000|                 NULL|                 NULL|                NULL|Lost my luggage, ...|The sentiment of ...|4.20000000000000|4.40000000000000|1470.40000000000000|
|Nebula Express|1015.0000000000|   SFO| SEA| 0.0000000000|  3.0000000000| 679.0000000000|                 NULL|                 NULL|                NULL|The flight was on...|The sentiment for...|6.60000000000000|8.80000000000000|1031.80000000000000|
|Skynet Airways|1016.0000000000|   ATL| DEN| 6.0000000000|  5.0000000000|1199.0000000000|                 NULL|                 NULL|                NULL|Lost my luggage, ...|The sentiment of ...|6.00000000000000|3.60000000000000|1736.80000000000000|
|       BlueJet|1017.0000000000|   DFW| PHX|-2.0000000000|  1.0000000000| 868.0000000000|                 NULL|                 NULL|                NULL|Lost my luggage, ...|The sentiment of ...|3.60000000000000|6.20000000000000|1740.40000000000000|
|Quantum Flyers|1018.0000000000|   ORD| BOS| 8.0000000000| -1.0000000000| 867.0000000000|                 NULL|                 NULL|                NULL|Quick boarding an...|The sentiment of ...|4.60000000000000|5.60000000000000|1280.80000000000000|
| Sunwind Lines|1019.0000000000|   JFK| MIA|10.0000000000| 16.0000000000|1090.0000000000|                 NULL|                 NULL|                NULL|Long delay and un...|The sentiment of ...|4.20000000000000|4.40000000000000|1470.40000000000000|
|Nebula Express|1020.0000000000|   DEN| ORD|-4.0000000000|  0.0000000000| 888.0000000000|                 NULL|                 NULL|                NULL|Long delay and un...|The sentiment of ...|6.60000000000000|8.80000000000000|1031.80000000000000|
+--------------+---------------+------+----+-------------+--------------+---------------+---------------------+---------------------+--------------------+--------------------+--------------------+----------------+----------------+-------------------+
only showing top 20 rows

In [1]:
from pyspark.sql.functions import col
from pyspark.sql.types import DecimalType, StringType

df_gold_typed = (
    df_gold
    .withColumn("FLIGHT_ID", col("FLIGHT_ID").cast(DecimalType(38,10)))
    .withColumn("DEP_DELAY", col("DEP_DELAY").cast(DecimalType(38,10)))
    .withColumn("ARR_DELAY", col("ARR_DELAY").cast(DecimalType(38,10)))
    .withColumn("DISTANCE", col("DISTANCE").cast(DecimalType(38,10)))
    .withColumn("AVG_DEP_DELAY", col("AVG_DEP_DELAY").cast(DecimalType(38,10)))
    .withColumn("AVG_ARR_DELAY", col("AVG_ARR_DELAY").cast(DecimalType(38,10)))
    .withColumn("AVG_DISTANCE", col("AVG_DISTANCE").cast(DecimalType(38,10)))
    .withColumn("AIRLINE", col("AIRLINE").cast(StringType()))
    .withColumn("ORIGIN", col("ORIGIN").cast(StringType()))
    .withColumn("DEST", col("DEST").cast(StringType()))
    .withColumn("REVIEW", col("REVIEW").cast(StringType()))
    .withColumn("SENTIMENT", col("SENTIMENT").cast(StringType()))
)

col_order = [
    "FLIGHT_ID", "AIRLINE", "ORIGIN", "DEST", "DEP_DELAY", "ARR_DELAY", "DISTANCE",
    "AVG_DEP_DELAY", "AVG_ARR_DELAY", "AVG_DISTANCE", "REVIEW", "SENTIMENT"
]

df_gold_typed = df_gold_typed.select(col_order)
print(df_gold_typed.printSchema())
df_gold_typed.createOrReplaceTempView("df_gold")
print(df_gold.printSchema())
#df_gold.createOrReplaceTempView("df_gold")

root
 |-- FLIGHT_ID: decimal(38,10) (nullable = true)
 |-- AIRLINE: string (nullable = true)
 |-- ORIGIN: string (nullable = true)
 |-- DEST: string (nullable = true)
 |-- DEP_DELAY: decimal(38,10) (nullable = true)
 |-- ARR_DELAY: decimal(38,10) (nullable = true)
 |-- DISTANCE: decimal(38,10) (nullable = true)
 |-- AVG_DEP_DELAY: decimal(38,10) (nullable = true)
 |-- AVG_ARR_DELAY: decimal(38,10) (nullable = true)
 |-- AVG_DISTANCE: decimal(38,10) (nullable = true)
 |-- REVIEW: string (nullable = true)
 |-- SENTIMENT: string (nullable = true)

None

root
 |-- AIRLINE: string (nullable = true)
 |-- FLIGHT_ID: decimal(38,10) (nullable = true)
 |-- ORIGIN: string (nullable = true)
 |-- DEST: string (nullable = true)
 |-- DEP_DELAY: decimal(38,10) (nullable = true)
 |-- ARR_DELAY: decimal(38,10) (nullable = true)
 |-- DISTANCE: decimal(38,10) (nullable = true)
 |-- AVG_DEP_DELAY_AIRLINE: decimal(38,14) (nullable = true)
 |-- AVG_ARR_DELAY_AIRLINE: decimal(38,14) (nullable = true)
 |-- AVG_DISTANCE_AIRLINE: decimal(38,14) (nullable = true)
 |-- REVIEW: string (nullable = true)
 |-- SENTIMENT: string (nullable = true)
 |-- AVG_DEP_DELAY: decimal(38,14) (nullable = true)
 |-- AVG_ARR_DELAY: decimal(38,14) (nullable = true)
 |-- AVG_DISTANCE: decimal(38,14) (nullable = true)

None

In [1]:
# Verify external table accessibility
try:
    spark.sql("SELECT COUNT(*) FROM airlines_external_adb_gold.gold.airline_sample_gold").show()
    print("Target table is accessible.")
except Exception as e:
    print(f"Accessibility check failed: {e}")
    # Add sleep if needed
    import time
    time.sleep(10)

+--------+
|count(1)|
+--------+
|       0|
+--------+

Target table is accessible.

In [1]:
# Now perform the insert
spark.sql("INSERT INTO airlines_external_adb_gold.gold.airline_sample_gold SELECT * FROM df_gold")

opc-request-id: csid4b99d36a4828abdc4d142a8fab33/dd9532c0f03344dcabe6c1b03b5f403b/F434CC457E6C40D78EA9E416ABA0DEC7

Command ID failed with java.lang.RuntimeException: java.lang.Exception: [---------------------------------------------------------------------------, Py4JJavaError                             Traceback (most recent call last), Cell In[683], line 2
      1 # Now perform the insert
----> 2 spark.sql("INSERT INTO airlines_external_adb_gold.gold.airline_sample_gold SELECT * FROM df_gold")
, File /opt/spark/python/lib/pyspark.zip/pyspark/sql/session.py:1631, in SparkSession.sql(self, sqlQuery, args, **kwargs)
   1627         assert self._jvm is not None
   1628         litArgs = self._jvm.PythonUtils.toArray(
   1629             [_to_java_column(lit(v)) for v in (args or [])]
   1630         )
-> 1631     return DataFrame(self._jsparkSession.sql(sqlQuery, litArgs), self)
   1632 finally:
   1633     if len(kwargs) > 0:
, File /opt/spark/python/lib/py4j-0.10.9.7-src.zip/py4j/java_gateway.py:1322, in JavaMember.__call__(self, *args)
   1316 command = proto.CALL_COMMAND_NAME +\
   1317     self.command_header +\
   1318     args_command +\
   1319     proto.END_COMMAND_PART
   1321 answer = self.gateway_client.send_command(command)
-> 1322 return_value = get_return_value(
   1323     answer, self.gateway_client, self.target_id, self.name)
   1325 for temp_arg in temp_args:
   1326     if hasattr(temp_arg, "_detach"):
, File /opt/spark/python/lib/pyspark.zip/pyspark/errors/exceptions/captured.py:179, in capture_sql_exception.<locals>.deco(*a, **kw)
    177 def deco(*a: Any, **kw: Any) -> Any:
    178     try:
--> 179         return f(*a, **kw)
    180     except Py4JJavaError as e:
    181         converted = convert_exception(e.java_exception)
, File /opt/spark/python/lib/py4j-0.10.9.7-src.zip/py4j/protocol.py:326, in get_return_value(answer, gateway_client, target_id, name)
    324 value = OUTPUT_CONVERTER[type](answer[2:], gateway_client)
    325 if answer[1] == REFERENCE_TYPE:
--> 326     raise Py4JJavaError(
    327         "An error occurred while calling {0}{1}{2}.\n".
    328         format(target_id, ".", name), value)
    329 else:
    330     raise Py4JError(
    331         "An error occurred while calling {0}{1}{2}. Trace:\n{3}\n".
    332         format(target_id, ".", name, value))
, Py4JJavaError: An error occurred while calling o246.sql.
: com.oracle.dicom.connectivity.exception.ConnectorException: CONNECTOR_0084 - Exception while writing data. Possible cause: Unable to determine if path is a directory
	at com.oracle.dicom.connectivity.spark.connectors.OracleAutonomousConnector.writeToAutonomousDB(OracleAutonomousConnector.scala:313)
	at com.oracle.dicom.connectivity.spark.connectors.OracleAutonomousConnector.writeToAutonomousDB$(OracleAutonomousConnector.scala:85)
	at com.oracle.dicom.connectivity.spark.connectors.OracleAdwcConnector.writeToAutonomousDB(OracleAdwcConnector.scala:24)
	at com.oracle.dicom.connectivity.spark.connectors.OracleAdwcConnector.write(OracleAdwcConnector.scala:56)
	at com.oracle.dicom.connectivity.spark.framework.SparkConnectivity.write(SparkConnectivity.scala:405)
	at com.oracle.dicom.connectivity.spark.framework.SparkConnectivity.write(SparkConnectivity.scala:423)
	at com.oracle.dicom.connectivity.connectors.api.impl.spark.SparkDataWriteSession.write(SparkDataWriteSession.scala:79)
	at com.oracle.dicom.connectivity.connectors.datasource.DataLakeRelation.insert(DataLakeRelation.scala:107)
	at org.apache.spark.sql.execution.datasources.InsertIntoDataSourceCommand.run(InsertIntoDataSourceCommand.scala:42)
	at org.apache.spark.sql.hive.plan.ExternalCatalogInsertPlan.run(ExternalCatalogInsertPlan.scala:26)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult$lzycompute(commands.scala:75)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult(commands.scala:73)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.executeCollect(commands.scala:84)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.$anonfun$applyOrElse$1(QueryExecution.scala:107)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$6(SQLExecution.scala:125)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:201)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:108)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:900)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:66)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:107)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:98)
	at org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$transformDownWithPruning$1(TreeNode.scala:461)
	at org.apache.spark.sql.catalyst.trees.CurrentOrigin$.withOrigin(origin.scala:76)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDownWithPruning(TreeNode.scala:461)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.org$apache$spark$sql$catalyst$plans$logical$AnalysisHelper$$super$transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning(AnalysisHelper.scala:267)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning$(AnalysisHelper.scala:263)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDown(TreeNode.scala:437)
	at org.apache.spark.sql.execution.QueryExecution.eagerlyExecuteCommands(QueryExecution.scala:98)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted$lzycompute(QueryExecution.scala:85)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted(QueryExecution.scala:83)
	at org.apache.spark.sql.Dataset.<init>(Dataset.scala:221)
	at org.apache.spark.sql.Dataset$.$anonfun$ofRows$2(Dataset.scala:101)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:900)
	at org.apache.spark.sql.Dataset$.ofRows(Dataset.scala:98)
	at org.apache.spark.sql.SparkSession.$anonfun$sql$1(SparkSession.scala:638)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:900)
	at org.apache.spark.sql.SparkSession.sql(SparkSession.scala:629)
	at org.apache.spark.sql.SparkSession.sql(SparkSession.scala:659)
	at jdk.internal.reflect.GeneratedMethodAccessor667.invoke(Unknown Source)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:568)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:319)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:842)
Caused by: java.io.IOException: Unable to determine if path is a directory
	at com.oracle.bmc.hdfs.store.BmcDataStore.getDirectoryStatus(BmcDataStore.java:1332)
	at com.oracle.bmc.hdfs.store.BmcDataStore.getFileStatusUncached(BmcDataStore.java:1249)
	at com.oracle.bmc.hdfs.store.BmcDataStore.access$100(BmcDataStore.java:96)
	at com.oracle.bmc.hdfs.store.BmcDataStore$2.load(BmcDataStore.java:439)
	at com.oracle.bmc.hdfs.store.BmcDataStore$2.load(BmcDataStore.java:435)
	at com.google.common.cache.LocalCache$LoadingValueReference.loadFuture(LocalCache.java:3571)
	at com.google.common.cache.LocalCache$Segment.loadSync(LocalCache.java:2313)
	at com.google.common.cache.LocalCache$Segment.lockedGetOrLoad(LocalCache.java:2190)
	at com.google.common.cache.LocalCache$Segment.get(LocalCache.java:2080)
	at com.google.common.cache.LocalCache.get(LocalCache.java:4012)
	at com.google.common.cache.LocalCache.getOrLoad(LocalCache.java:4035)
	at com.google.common.cache.LocalCache$LocalLoadingCache.get(LocalCache.java:5011)
	at com.google.common.cache.LocalCache$LocalLoadingCache.getUnchecked(LocalCache.java:5018)
	at com.oracle.bmc.hdfs.store.BmcDataStore.getFileStatus(BmcDataStore.java:1200)
	at com.oracle.bmc.hdfs.BmcFilesystemImpl.getFileStatus(BmcFilesystem.java:645)
	at com.oracle.bmc.hdfs.BmcFilesystem.getFileStatus(BmcFilesystem.java:237)
	at org.apache.hadoop.fs.FileSystem.exists(FileSystem.java:1760)
	at org.apache.spark.sql.execution.datasources.InsertIntoHadoopFsRelationCommand.run(InsertIntoHadoopFsRelationCommand.scala:120)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.sideEffectResult$lzycompute(commands.scala:116)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.sideEffectResult(commands.scala:114)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.executeCollect(commands.scala:128)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.$anonfun$applyOrElse$1(QueryExecution.scala:107)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$6(SQLExecution.scala:125)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:201)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:108)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:900)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:66)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:107)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:98)
	at org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$transformDownWithPruning$1(TreeNode.scala:461)
	at org.apache.spark.sql.catalyst.trees.CurrentOrigin$.withOrigin(origin.scala:76)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDownWithPruning(TreeNode.scala:461)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.org$apache$spark$sql$catalyst$plans$logical$AnalysisHelper$$super$transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning(AnalysisHelper.scala:267)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning$(AnalysisHelper.scala:263)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDown(TreeNode.scala:437)
	at org.apache.spark.sql.execution.QueryExecution.eagerlyExecuteCommands(QueryExecution.scala:98)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted$lzycompute(QueryExecution.scala:85)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted(QueryExecution.scala:83)
	at org.apache.spark.sql.execution.QueryExecution.assertCommandExecuted(QueryExecution.scala:142)
	at org.apache.spark.sql.DataFrameWriter.runCommand(DataFrameWriter.scala:859)
	at org.apache.spark.sql.DataFrameWriter.saveToV1Source(DataFrameWriter.scala:388)
	at org.apache.spark.sql.DataFrameWriter.saveInternal(DataFrameWriter.scala:361)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:240)
	at org.apache.spark.sql.DataFrameWriter.csv(DataFrameWriter.scala:850)
	at com.oracle.dicom.connectivity.spark.connectors.OracleObjectStorageConnector.write(OracleObjectStorageConnector.scala:453)
	at com.oracle.dicom.connectivity.spark.connectors.OracleAutonomousConnector.stageFiles(OracleAutonomousConnector.scala:550)
	at com.oracle.dicom.connectivity.spark.connectors.OracleAutonomousConnector.stageFiles$(OracleAutonomousConnector.scala:519)
	at com.oracle.dicom.connectivity.spark.connectors.OracleAdwcConnector.stageFiles(OracleAdwcConnector.scala:24)
	at com.oracle.dicom.connectivity.spark.connectors.OracleAutonomousConnector.writeToAutonomousDB(OracleAutonomousConnector.scala:169)
	... 51 more
Caused by: com.oracle.bmc.model.BmcException: Error returned by ListObjects operation in ObjectStorage service.(404, BucketNotFound, false) Either the bucket named "IDL-1891208749-3e8ef48e731b4a86bc4e8630519ffa7d" does not exist in the namespace "idb6enfdcxbl" or you are not authorized to access it (opc-request-id: ord-1:fOrwBjJrjPefqZJ5nCpx4t56yKEYcn-IbXKsDVsZv0Hdz21xzgsXl1Zrs3JYSe1z)
Timestamp: 2025-11-21T21:48:18.299Z
Client version: Oracle-JavaSDK/2.79.0
Request Endpoint: https://objectstorage.us-chicago-1.oraclecloud.com/n/idb6enfdcxbl/b/IDL-1891208749-3e8ef48e731b4a86bc4e8630519ffa7d/o?prefix=3e8ef48e731b4a86bc4e8630519ffa7d.cat%2FAIRLINE_SAMPLE_GOLD_b829a665-6be1-451b-b90d-47b6ba945eae%2F&limit=1&fields=size%2CtimeCreated%2CtimeModified
Troubleshooting Tips: See https://docs.oracle.com/en-us/iaas/Content/API/References/apierrors.htm#apierrors_404__404_bucketnotfound for more information about resolving this error
Also see https://docs.oracle.com/iaas/api/#/en/objectstorage/20160918/Object/ListObjects for details on this operation"s requirements.
To get more info on the failing request, you can enable debug level logs as mentioned in "Using SLF4J for Logging section" in https://docs.oracle.com/en-us/iaas/Content/API/SDKDocs/javasdkconfig.htm.
If you are unable to resolve this ObjectStorage issue, please contact Oracle support and provide them this full error message.
	at com.oracle.bmc.http.internal.ResponseHelper.throwIfNotSuccessful(ResponseHelper.java:160)
	at com.oracle.bmc.http.internal.ResponseConversionFunctionFactoryV2$ValidatingParseResponseFunction.apply(ResponseConversionFunctionFactoryV2.java:148)
	at com.oracle.bmc.http.internal.ResponseConversionFunctionFactoryV2$ValidatingParseResponseFunction.apply(ResponseConversionFunctionFactoryV2.java:137)
	at com.oracle.bmc.objectstorage.internal.http.ListObjectsConverter$1.apply(ListObjectsConverter.java:169)
	at com.oracle.bmc.objectstorage.internal.http.ListObjectsConverter$1.apply(ListObjectsConverter.java:142)
	at com.oracle.bmc.objectstorage.ObjectStorageClient.lambda$null$66(ObjectStorageClient.java:1843)
	at com.oracle.bmc.retrier.BmcGenericRetrier.doFunctionCall(BmcGenericRetrier.java:116)
	at com.oracle.bmc.retrier.BmcGenericRetrier.lambda$execute$1(BmcGenericRetrier.java:77)
	at com.oracle.bmc.waiter.GenericWaiter.execute(GenericWaiter.java:96)
	at com.oracle.bmc.retrier.BmcGenericRetrier.execute(BmcGenericRetrier.java:64)
	at com.oracle.bmc.objectstorage.ObjectStorageClient.lambda$listObjects$67(ObjectStorageClient.java:1839)
	at com.oracle.bmc.retrier.BmcGenericRetrier.doFunctionCall(BmcGenericRetrier.java:116)
	at com.oracle.bmc.retrier.BmcGenericRetrier.lambda$execute$1(BmcGenericRetrier.java:77)
	at com.oracle.bmc.waiter.GenericWaiter.execute(GenericWaiter.java:96)
	at com.oracle.bmc.retrier.BmcGenericRetrier.execute(BmcGenericRetrier.java:64)
	at com.oracle.bmc.objectstorage.ObjectStorageClient.listObjects(ObjectStorageClient.java:1833)
	at com.oracle.lakeshare.client.LakeSharingObjectStorageClient.listObjects(LakeSharingObjectStorageClient.java:863)
	at com.oracle.bmc.hdfs.store.BmcDataStore.getListObjectsResponse(BmcDataStore.java:660)
	at com.oracle.bmc.hdfs.store.BmcDataStore.getDirectoryStatus(BmcDataStore.java:1329)
	... 102 more
]

In [1]:
%sql
INSERT into airlines_external_adb_gold.gold.airline_sample_gold select * from df_gold

opc-request-id: csid4b99d36a4828abdc4d142a8fab33/8f0faaf5763844ccbb50595de7f0c0e6/5CE340D195504187817DA706E1A53B49

Command ID failed with java.lang.RuntimeException: java.lang.RuntimeException: com.oracle.dicom.connectivity.exception.ConnectorException: CONNECTOR_0084 - Exception while writing data. Possible cause: Unable to determine if path is a directory